@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Avenir", sans-serif;
    src: url(./fonts/Avenir-Heavy.ttf);
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

p {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 1;
}

h2 {
    font-size: 50px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

.container--small {
    max-width: 1000px;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

/*********************
* Header
**********************/

header {
    position: relative;
    z-index: 1;
}

.header__container {
    display: flex;
    align-items: center;
    gap: 110px
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__login {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 12px;
}

/*********************
* Welcome
**********************/

.welcome {
    padding-bottom: 50px;
}

.welcome__container {
    position: relative;
}

.welcome__container::after {
    content: "";
    width: 650px;
    height: 790px;
    position: absolute;
    right: -170px;
    top: -240px;
    background-image: url(./img/bg-welcome.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-105deg);
    z-index: -1;
}

.welcome__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
}

.welcome__title {
    margin-bottom: 125px;
    font-size: 64px;
    line-height: 1.09;
}

.welcome__text {
    position: relative;
    padding-left: 130px;
    width: 380px;
    font-size: 20px;
}

.welcome__text::before {
    content: "";
    width: 125px;
    height: 125px;
    position: absolute;
    left: 10px;
    bottom: 15%;
    background: rgba(96, 92, 234, 0.5);
    filter: blur(50px);
}

.welcome__text::after {
    position: absolute;
    left: 0;
    bottom: 55px;
    content: "";
    width: 130px;
    height: 4px;
    background-color: #fff;
    transform: rotate(120deg);
}

.welcome__img {
    width: 500px;
    position: relative;
    margin-right: -50px;
    top: -90px;
}

.welcome__cta {
    margin-right: 60px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.cta__links {
    display: flex;
    gap: 30px;
}

/*********************
* Mission
**********************/

.mission {
    padding: 150px 85px;
}

.mission__container {
    position: relative;
}

.mission__img {
    transform: rotate(90deg) translate(-43%);
    position: absolute;
    top: -50%;
    right: 50%;
    z-index: -1;
}

.mission__title {
    margin-bottom: 30px;
    position: relative;
}

.mission__title::after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 55px;
    top: 7px;
    width: 85px;
    height: 85px;
    background-color: #F101BF;
    opacity: 0.7;
    filter: blur(50px);
}

.mission__desc {
    width: 320px;
    margin-left: auto;
}


/*********************
* Common
**********************/

.common {
    padding: 50px 0;
    margin-top: 100px;
}

.common__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.common__col {
    max-width: 410px;
}

.common__title {
    margin-bottom: 20px;
}

.common-reverse .container {
    flex-direction: row-reverse;
}

.scanner {
    background: linear-gradient(180deg, #000 -3%, rgba(0, 0, 0, 0) 56%, #000 84%), url("./img/bg-scanner.jpg");
    background-size: cover;
}

.code {
    background: linear-gradient(180deg, #000 -3%, rgba(0, 0, 0, 0) 56%, #000 84%), url("./img/bg-code.jpg");
    background-size: cover;
    background-position: center;
}

/*********************
* Footer
**********************/

.footer {
    padding: 100px 0px;
    overflow: hidden;
}

.footer__container {
    position: relative;
}

.footer__container::before {
    content: '';
    position: absolute;
    left: -170px;
    bottom: -200px;
    width: 400px;
    height: 400px;
    z-index: -1;
    background: linear-gradient(12deg, #F101BF 3%, #0066FF 97%);
    opacity: 0.3;
    filter: blur(125px);
    transform: rotate(6deg);
}

.footer__cta {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 125px;
}

.footer__cta .cta__text {
    font-size: 24px;
}

.footer__cta .cta__img {
    height: 81px;
}

.footer__cta .cta__links {
    gap: 60px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Avenir", sans-serif;
    font-weight: 900;
}

/* .footer__row > * {
    display: flex;
    flex-direction: column;
    gap: 15px;
} */

.footer__logo-link {
    display: flex;
    margin-bottom: 15px;
}

.footer__contact {
    margin-bottom: 15px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 940px) {

    .welcome__cta {
        padding-right: 0;
    }

    .welcome__img {
        right: -20px;
    }

    .cta__text {
        font-size: 24px;
    }

    .mission__img {
        right: 60%;
    }

    .mission {
        padding-left: 0;
        padding-right: 0;
    }

    .common__col,
    .mission__desc {
        max-width: 370px;
    }

    .mission__desc {
        width: unset;
    }
}

@media (max-width: 767px) {

    .logo {
        gap: 3px;
    }

    .logo__img {
        width: 50px;
    }

    .logo__text {
        width: 50px;
    }

    .header {
        padding: 20px 0;
    }

    .header__container {
        justify-content: space-between;
        gap: 0;
    }

    .header__login img {
        display: none;
    }

    .welcome__img {
        width: 400px;
        right: -60px;
        top: -60px;
    }

    .welcome__title {
        font-size: 35px;
        margin-bottom: 25px;
    }

    .welcome__row {
        min-height: 420px;
        margin-bottom: 30px;
    }

    .welcome__container::after {
        top: -100px;
        right: -50px;

        width: 500px;
        height: 590px;
        background-image: url("./img/bg-welcome-mobile.svg");
        transform: rotate(-90deg);
    }

    .welcome__text {
        padding-left: 0;
        font-size: 16px;
        width: 60%;
    }

    .welcome__text::before,
    .welcome__text::after {
        display: none;
    }

    .cta__img,
    .footer__cta .cta__img {
        height: 60px;
    }

    .cta__links,
    .footer__cta .cta__img {
        gap: 20px;
        flex-direction: column;
    }

    .cta {
        gap: 40px;
        flex-direction: column;
    }

    .mission {
        padding: 50px 0 0;
    }

    .mission__img {
        width: 320px;
        position: static;
        transform: none;
        align-self: center;
        margin-top: -20px;
    }

    .mission__title::after {
        content: '';
        position: absolute;
        right: auto;
        left: -24px;
        top: -28px;
        z-index: -1;
        width: 85px;
        height: 85px;
        background: #F101BF;
        opacity: 0.7;
        filter: blur(50px);
    }

    .mission__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .mission__desc {
        margin-left: unset;
    }

    .mission__title {
        margin-bottom: 25px;
    }

    .common__col, .mission__desc {
        max-width: unset;
    }

    h2 {
        font-size: 24px;
    }

    body {
        font-size: 16px;
    }

    .common {
        margin-top: 70px;
        padding: 0;
    }

    .common__container, .common:nth-child(even) .container {
        flex-direction: column-reverse;
        gap: 70px;
    }

    .common__img {
        align-self: center;
        width: 280px;
    }

    .scanner {
        margin-top: 0;
    }


    .scanner::before {
        background: linear-gradient(180deg, #000 -3%, rgba(0, 0, 0, 0) 56%, #000 84%), url(./img/bg-scanner.jpg);
    }

    .code::before {
        background: linear-gradient(180deg, #000 -3%, rgba(0, 0, 0, 0) 56%, #000 84%), url(./img/bg-code.jpg);
    }

    .common::before {
        content: '';
        display: block;
        height: 300px;
        margin-bottom: -50px;
        background-position: center;
        background-size: cover;
    }

    .scanner, .code {
        background: none; 
    }

    .footer {
        padding: 70px 0 30px;
    }

    .footer__cta {
        margin-bottom: 70px;
    }

    .footer__row {
        flex-direction: column-reverse;
        text-align: center;
        gap: 60px;
    }

    .footer__contact {
        margin-bottom: 10px;
    }
}

@media (max-width: 520px) {
    .welcome__img {
        right: -170px;
    }

    .logo__img {
        width: 50px;
    }

    .logo__text {
        width: 50px;
    }

    .header__login {
        font-size: 14px;
    }
}