@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Avenir", sans-serif; */

@font-face {
    font-family: "Avenir";
    src: url(./fonts/Avenir-Heavy.ttf);
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: pink;
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}