@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Avenir", sans-serif; */

@font-face {
    font-family: "Avenir";
    src: url(./fonts/Avenir-Heavy.ttf);
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

p {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 1;
}

h2 {
    font-size: 50px;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

.container--small {
    max-width: 1000px;
}

/*********************
* Header
**********************/

header {
    position: relative;
    z-index: 1;
}

.header__container {
    display: flex;
    align-items: center;
    gap:110px
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__login {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 12px;
}

/*********************
* Welcome
**********************/

.welcome {
    padding-bottom: 50px;
}

.welcome__container {
    position: relative;
}

.welcome__container::after {
    content: "";
    width: 650px;
    height: 790px;
    position: absolute;
    right: -170px;
    top: -240px;
    background-image: url(./img/bg-welcome.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-105deg);
    z-index: -1;
}

.welcome__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
}

.welcome__title {
    margin-bottom: 125px;
    font-size: 64px;
    line-height: 1.09;
}

.welcome__text {
    position: relative;
    padding-left: 130px;
    width: 380px;
    font-size: 20px;
}

.welcome__text::before {
    content: "";
    width: 125px;
    height: 125px;
    position: absolute;
    left: 10px;
    bottom: 15%;
    background: rgba(96, 92, 234, 0.5);
    filter: blur(50px);
}

.welcome__text::after {
    position: absolute;
    left: 0;
    bottom: 55px;
    content: "";
    width: 130px;
    height: 4px;
    background-color: #fff;
    transform: rotate(120deg);
}

.welcome__img {
    width: 500px;
    position: relative;
    margin-right: -50px;
    top: -90px;
}

.welcome__cta {
    margin-right: 60px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.cta__links {
    display: flex;
    gap: 30px;
}

/*********************
* Mission
**********************/

.mission {
    padding: 150px 85px;
}

.mission__container {
    position: relative;
}

.mission__img {
    transform: rotate(90deg) translate(-43%);
    position: absolute;
    top: 0;
    right: 50%;
    z-index: -1;
}

.mission__title {
    margin-bottom: 30px;
    position: relative;
}

.mission__title::after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 55px;
    top: 7px;
    width: 85px;
    height: 85px;
    background-color: #F101BF;
    opacity: 0.7;
    filter: blur(50px);
}

.mission__desc {
    width: 320px;
    margin-left: auto;
}


/*********************
* Common
**********************/

.common {
    padding: 50px 0;
    margin-top: 200px;
}

.common__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.common__col {
    max-width: 410px;
}

.common__title {
    margin-bottom: 20px;    
}

.common-reverse .container {
    flex-direction: row-reverse;
}

.scanner {
    background: linear-gradient(180deg, #000 -3%, rgba(0, 0, 0, 0) 56%, #000 84%), url("./img/bg-scanner.jpg");
    background-size: cover;
}

.code {
    background: linear-gradient(180deg, #000 -3%, rgba(0, 0, 0, 0) 56%, #000 84%), url("./img/bg-code.jpg");
    background-size: cover;
    background-position: center;
}